

#trans{
    
        transition: all 1s;
        transform: translateX(all);
        filter: blur();
    
    
    
        
    }

@keyframes bounce  {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }
}